#heading, .schedule {
    font-family: 'Oswald', sans-serif;
    ;
}
#heading {
    font-weight: 700;
    text-align: center;
}
.schedule {
    margin-right: 200px;
    margin-left: 150px;
    padding: 100px;
}
.hour {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hour-name {
    margin-right: auto;
}
.user-input {
    text-align: left;
    height: 50px;
    width: 750px;
}
.current-hour {
    background-color: lime;
}
.past-hour {
    background-color: tomato;
}
.future-hour {
    background-color: lightgrey;
}